
html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  margin: 0 40px;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #eff0f1;
}

.nav > li {
  display: inline-block;
}

.nav > li a {
  display: inline-block;
  padding: 10px;
  color: #2B91AF;
  font-size: 18px;
  text-decoration: none;
}

.nav > li a.active {
  background-color: #2B91AF;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.box {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #597786;
}
